<%-include("partials/header");  -%> 
<h1>Compose</h1>

<form action="/compose" method="POST">
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Post</label>
    <textarea name="post" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
 <button style="margin-top: 2%;" class="btn btn-primary btn-md" name="publish" type="submit" >Publish</button>
</form>





















<%- include("partials/footer") %> 